<div class="register-form">
  <h2 class="register-title">{{task}}</h2>
  <form>
      <div class="form-group">
          <label for="email">Email:</label>
          <input #email type="text" class="form-control" required />
      </div>
      <div class="clear"></div>
      <div class="form-group">
          <label for="password">Password:</label>
          <input #password type="password" class="form-control" required />
      </div>
      <div class="clear"></div>
      <!--<div class="form-group">
          <label for="validate-password">Validate Password:</label>
          <input #validate type="password" class="form-control" required />
      </div>
      <div class="clear"></div>-->
      <br />
      <button *ngIf="isRegister" type="submit" class="btn btn-default" (click)="onRegister(email.value, password.value)">{{task}}</button>
      <button *ngIf="!isRegister" type="submit" class="btn btn-default" (click)="onSignIn(email.value, password.value); email.value=''; password.value=''">{{task}}</button>
      <br />
      <span style="color: black">Login with <button class="btn btn-default" (click)="loginExternal('facebook')">Facebook</button></span>
      <br />
      <span style="color: black">Login with <button class="btn btn-default" (click)="loginExternal('twitter')">Twitter</button></span>
      <br />
      <span style="color: black">Login with <button class="btn btn-default" (click)="loginExternal('google')">Google</button></span>
  </form>
  <br />
  <span class="error">{{loginError}}</span>
</div>