<div class="create-form">
    {{ingredients}}
    <h2>Alright, let's Create a Recipe</h2>
    <div class="create-container">
        <form>
            <h4>What is the title of your recipe?</h4>
            <label>Recipe Title</label>
            <input class="form-control"
                ngControl="title"
                [(ngModel)]="title"
                type="text" required />
            <br />
            <span class="hint">Enter each ingredient on a separate line.</span>
            <br />
            <label class="area-label">Ingredients</label>
            <textarea class="form-control"
                ngControl="ingredientsString"
                [(ngModel)]="ingredientsString"
                type="text" required></textarea>
            <br />
            <span class="hint">Enter each step on a separate line.</span>
            <br />
            <label class="area-label">Steps</label>
            <textarea class="form-control"
                ngControl="stepsString"
                [(ngModel)]="stepsString"
                type="text" required></textarea>
            <br />
            <input type="checkbox"
                ngControl="isPrivate"
                [(ngModel)]="isPrivate" />
            Make recipe private (Default is public).
        </form>
    </div>
    <div class="nav-container">
        <button class="btn btn-default" (click)="saveRecipe()">
            Save Recipe
        </button>
    </div>
</div>