<div class="create-form">
    <h2>Alright, let's Create a Recipe</h2>
    <span class="hint">Press [Enter] after each added entry. :)</span>
    <div class="create-container">
        <h3>{{title}}</h3>
        <recipe-title *ngIf="currentProcess==='Title'"
            (addedTitle)="addedTitle($event)">
        </recipe-title>
        <recipe-ingredients *ngIf="currentProcess==='Ingredients'"
            (addedIngredient)="addedIngredient($event)"
            [ingredients]="ingredients">
        </recipe-ingredients>
        <recipe-steps *ngIf="currentProcess==='Steps'"
            (addedStep)="addedStep($event)"
            [ingredients]="ingredients"
            [steps]="steps">
        </recipe-steps>
    </div>
    <div class="nav-container">
        <button class="nav-left" (click)="goToPreviousProcess()">
            Previous
        </button>
        <button class="nav-right" (click)="goToNextProcess()">
            Add {{allProcesses[processId + 1]}}
        </button>
        <button (click)="saveRecipe()">
            Save Recipe
        </button>
    </div>
</div>