.create-form{
    width: 80%;
    height: 600px;
    margin: 0 auto 0 auto;
    padding: 10px 10px 10px 10px;
    background-color: white;
    color: #262626;
    
    h3 {
        margin-bottom: 5px;
    }
    
    li {
        list-style: none;
        
        input {
            width: 250px;
            margin: 5px 0 5px 20px;
        }
    }
    
    .hint {
        font-size: 15px;
        color: #8c8c8c;
    }
    
    .create-container {
        width: 50%;
        height: 65%;
        margin: 0 auto 0 auto;
        border: solid 1px #d9d9d9;
        border-radius: 15px;
    }
    
    .nav-container {
        width: 55%;
        margin: 25px auto 0 auto;
    }
    
    .nav-left {
        float: left;
        margin-left: 100px;
    }
    
    .nav-right {
        float: right;
    }
}

