.center-ingredients {
    position: absolute;
    top: 27%;
    left: 37%;
    
    li {
        list-style: none;
        
        input {
            display: inline-block;
            width: 250px;
            margin: 5px 0 5px 20px;
        }
    }
}