<form class="center-ingredients form-group">
    <h4>Add some ingredients</h4>
    <ul>
        <li>
            <label>Ingredients</label>
            <input #newIngredient class="form-control"
                ngControl="newIngredient"
                [(ngModel)]="ingredient"
                (keyup.enter)="addIngredient(newIngredient.value)" 
                type="text" required />
        </li>
        <li *ngFor="#ing of ingredients">
            <label>Ingredients</label>
            <input #newIngredient class="form-control"
                ngControl="ingredient"
                (keyup.enter)="addIngredient(newIngredient.value)" 
                type="text" required />
        </li>
    </ul>
</form>