// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  
  a {
    text-decoration: none;
    color: #262626;
  }
  
  .wrap {
    width: 80%;
    margin: 10px auto 10px auto;
  }
  
  img {
    height: 40px;
    width: 50px;
  }
  
  nav {
    float: right;
    
    a {
        text-decoration: none;
        color: #262626;
    }
  }

  .title {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
  }    
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

span {
  button {
      background-color: #e6e6e6;
      border: none;
      margin: 0 -1px 0 -1px;
      height: 50px;
      border-radius: 15px;
  }
  
  button:hover {
      background-color: #a6a6a6;
      color: #fff;
  }
  
  #login-btn {
      width: 75px;
  }
  
  #register-btn {
      width: 175px;
  }
}
