// styles in src/style directory are applied to the whole page
body {
    background: #00695C;
    color: #e6e6e6;
}
a {
    color: #B2DFDB;
}

input.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

input.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}
