<div class="ingredients-list">
    <h4>Ingredients</h4>
    <ul>
        <li *ngFor="#ing of ingredients">
            {{ing}}
        </li>
    </ul>
</div>
<form class="steps-list form-group">
    <h4>Now, add the steps, reference ingredients to the left</h4>
    <ul>
        <li>
            <label>Steps</label>
            <input #newStep class="form-control"
                (keyup.enter)="addStep(newStep.value)" 
                type="text" required />
        </li>
        <li *ngFor="#step of steps">
            <label>Steps</label>
            <input #newStep class="form-control"
                (keyup.enter)="addStep(newStep.value)" 
                type="text" required />
        </li>
    </ul>
</form>