.ingredients-list {
    height: 80%;
    width: 30%;
    float: left;
    color: #fff;
    background-color: #009688;
    
    ul {
        padding: 0;
    }
    
    li {
        list-style: none;
    }
}

.steps-list {
    height: 80%;
    width: 65%;
    float: right;

    li {
        list-style: none;
        
        input {
            display: inline-block;
            width: 250px;
            margin: 5px 0 5px 20px;
        }
    }   
}